/* Fonts */

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: local("Cuprum"),
    url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: local("Cuprum"),
    url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: local("Cuprum"),
    url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: local("Cuprum"),
    url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
    url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
}

/* Custom properties (Variables) */

:root {
  --basic-black: #000000;
  --basic-red: #ee3643;
  --basic-red-hover: #ca2c37;
  --basic-red-active: #ba2732;
  --basic-green: #63a63e;
  --basic-green-hover: #5FBB2D;
  --basic-green-active: #518534;
  --basic-grey: #32425C;
  --basic-grey-hover: #293449;
  --basic-grey-active: #1d2739;
  --basic-greylight: #c5c5c5;
  --basic-greylight-hover: #b5b5b5;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --basic-brownlight: #f9f5f0;

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-grey: #a9a9a9;
  --special-greylight: #eaeaea;
  --special-white: #f3f7f9;
  --special-gold: #ffd180;
  --special-brownlight: #f7f3ec;
  --special-greylight-100: #e5e5e5;

  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;

  --white-transparent-active : rgba(255, 255, 255, 0.5);
  --white-transparent: rgba(255, 255, 255, 0.2);
  --black-transparent: rgba(0, 0, 0, 0.3);
  --box-shadow: rgba(0, 0, 0, 0.23);
  --box-shadow-green: #367315;
  --black-transparent-btn: rgba(0, 0, 0, 0.0001);
  --login-hover: #3d546f;
  --user-item-active: #161d29;
  --social-background: #212a3a;
  --modal-bottom-background: #f4f4f4;
}

  /* Global */

  * {
    box-sizing: border-box;
   /*  outline: 1px solid red; */
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.page {
  height: 100%;
}

.page-body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Cuprum', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  }


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.descr-content {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.descr-content-services {
 margin-bottom: 35px;
}
.descr-content-transport-companies {
  margin-bottom: 5px;
}

.descr-content-shopping {
  margin-bottom: 28px;
}
.descr-content-services {
  margin-bottom: 23px;
}

.title-grey {
  font-size: 30px;
  color: var(--basic-grey);
  text-transform: uppercase;
  margin: 0;
}

.title-black {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 22px;
}

.btn {
  display: block;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
  padding: 11px 24px 9px 24px;
  font-size: 14px;
  line-height: 18px;
  min-height: 38px;
  width: 192px;
  text-align: center;
  border-radius: 3px;
}

.btn:hover {
  color: var(--basic-white);
  background-color: var(--basic-red-hover);
}
.btn:active {
  color: var(--basic-white);
  background-color: var(--basic-red-active);
}

/* Header */
.page-header {
  background-color: var(--basic-background);
  margin-bottom: 66px;
}

.page-header-top {
  background-color: var(--basic-grey-hover);
  margin-bottom: 45px;
  min-height: 42px;
}


.page-header-top-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-header-middle-wrapper {
  display: flex;
  align-items: start;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header-middle {
  margin-bottom: 39px;
}

.page-header-logo {
  position: absolute;
  padding: 14px 0;
  text-align: center;
  background-color: var(--basic-red);
  width: 220px;
  min-height: 52px;
  box-shadow: inset 0px -5px 0px var(--box-shadow);
}

.search-form {
  position: relative;
  margin-left: 230px;
  border: none;

}

.search-input,
.search-form label {
  cursor: pointer;
}


.search-svg {
  position: absolute;
  top: 11px;
  left: 5px;
  opacity: 0.3;
}

.search-form:focus-within .search-svg,
.search-form:focus-within .search-svg-path {
  fill: red;
  opacity: 1;
}

.search-form:focus-within {
  background-color: var(--basic-white);
}

.search-input {
  display: block;
  width: 260px;
  min-height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 9px 5px 9px 35px;
}

.search-form:hover .search-svg {
  opacity: 1;
}

.search-form ::placeholder {
  color: var(--basic-white);
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-menu-link:hover,
.user-menu-link{
  color: var(--basic-white);
  display: block;
  line-height: 42px;
  text-align: left;
  padding-left: 45px;
}


.user-menu-bookmarks-link::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 24px;
  background: url("../img/icons/icon-bookmark.svg");
  opacity: 0.3;
}
.user-menu-cart-link:hover::after,
.user-menu-bookmarks-link:hover::after  {
  opacity: 1;
}

.user-menu-link:active{
  background-color: var(--user-item-active);
  opacity: 0.5;
}

.user-item {
  position: relative;
  min-width: 150px;
  text-align: center;
}


.user-menu-cart-link::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 24px;
  background: url("../img/icons/icon-cart.svg");
  opacity: 0.3;
}


.user-menu-btn {
  display: block;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  font-family: 'Cuprum';
  padding: 9px 16px 9px 19px;
  width: 150px;
  min-height: 42px;
  background-color: var(--basic-green);
  word-wrap:break-word;
}
.user-menu-btn:hover {
  background-color: var(--basic-green-hover);
  color: var(--basic-white);
}

.user-menu-btn:active {
  background-color: var(--basic-green);
  color: var(--white-transparent-active);
}

.header-title {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: var(--basic-red);
  padding: 0 5px 0 30px;
  margin: 0;
  margin-right: 88px;
}

.header-contacts {
  text-align: center;
  margin-right: 59px;
}

.header-phone{
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 3px solid;
  border-color: var(--basic-white);
  text-align: center;
  min-height: 45px;
  min-width: 270px;
}
.header-phone-link,
.header-phone-link:hover {
  font-weight: 700;
  font-size: 21px;
  line-height: 41px;
  color: var(--basic-red);
  margin-left: 16px;
}
.header-phone-link:hover {

  color: var(--basic-red);
  margin-left: 16px;
}

.phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  text-align: center;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-grey);
  margin: 0;
  margin-top: 3px;
}
.login {
  display: flex;
  align-items: center;
  text-align: center;
}


.header-login-link {
  background-color: var(--basic-white);
  min-height: 45px;
  width: 121px;
  text-align: center;
  font-size: 21px;
  line-height: 44px;
  color: var(--basic-black);
  text-transform: none;
  margin-left: 10px;
}

.header-login-link-reg {
  width: 150px;
}

.header-login-svg {
  margin-bottom: 4px;
}

.header-login-link:hover {
  color: var(--basic-red);
}

.header-login-link:hover .login-svg {
  fill: var(--login-hover);
}
.header-login-link:active .login-svg {
  fill: var(--basic-greylight);
}

.header-login-link:hover {
  color: var(--basic-red);
}

.header-login-link:active {
  color: var(--basic-greylight);
}

/* Navigation */

.site-navigation{
  background-color: var(--basic-grey);
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

}

.site-navigation a,
.about-list a {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.site-navigation-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 60px;
  box-shadow: inset 0px -5px 0px #293449;
  padding: 0 24px;
  min-height: 60px;
}

.site-navigation-item a {
  display: block;
  line-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}
.site-navigation-item a:hover {
  background-color: var(--basic-grey-hover);
}
.site-navigation-item a:active {
  color: var(--white-transparent-active);
}

/* Page-main */


.offers-list {
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  list-style: none;
  color: var(--basic-white);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.offers-list li:not(.offers-item-slider) {
  min-height: 123px;
  width: 300px;
}

.page-main {
background-color: var(--basic-white);
}

.offers-slider {
  display: none;
}

.offers-slider::after {
  content: "";
  position: absolute;
  top: 122px;
  left: 24px;
  width: 22px;
  height: 40px;
  background: url(../img/icons/icon-left.svg);
}

.offers-slider::before {
  content: "";
  position: absolute;
  top: 122px;
  right: 24px;
  width: 22px;
  height: 40px;
  background: url(../img/icons/icon-right.svg);
}

.offers-slider-1 {
  background: url('../img/slider-1.jpg');
  background-size: contain;
  height: 266px;
  padding: 23px 0 27px 24px;
}

.offers-slider-2 {
  background: url('../img/slider-2-drills.jpg');
  height: 266px;
  padding: 23px 0 27px 24px;
}
.offers-slider-subheader {
  font-size: 18px;
  line-height: 24px;
}

.offers-slider-active {
  display: block;
}

.offers-item-slider {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  position: relative;
}

.slider-controls {
  min-width: 30px;
  display: flex;
  position: absolute;
  bottom: 35px;
  left: 295px;
}

.slider-controls-button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.slider-controls-active {
  background-color: var(--basic-white);
}

.offers-item-punchers {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.offers-item {
  display: flex;
  flex-direction: column;
  padding: 20px 0 21px 23px;
}

.offers-item-header {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 14px;
  max-width: 175px;
}

.offers-item-materials {
  background: var(--special-yellow) url('../img/icons/icon-materials.svg') 213px center no-repeat;
  position: relative;
}

.btn-offers {
  background-color: var(--white-transparent);
  color: var(--basic-white);
  padding: 10px 22px;

  min-height: 38px;
  width: 135px;
  margin-top: auto;
}

.btn-offers:hover {
  background-color: var(--basic-greylight);
}

.btn-offers:active{
  background-color: var(--special-grey);
}

.btn-slider-link {
  position: absolute;
  bottom: 27px;
  left: 24px;
  border-radius: 3px;
}
.offers-item-tools {
  background: var(--special-blue) url('../img/icons/icon-tools.svg') 200px center no-repeat;
}

.offers-item-technic {
  background: var(--special-lilac) url('../img/icons/icon-tech.svg') 195px center no-repeat;
}

.offers-item-sale {
  background: var(--special-greenlight) url('../img/icons/icon-discounts.svg') 195px center no-repeat;
}
.offers-item-delivery {
  background: var(--special-yellow) url('../img/icons/icon-delivery.svg') 195px center no-repeat;
}

/* Pop-products */
.pop-products{
  margin-bottom: 66px;
}

.pop-products-header,
.pop-manufacturers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-brownlight);
  margin-bottom: 20px;
  padding: 27px 14px 24px 28px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  gap: 20px;
  list-style: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.products-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 318px;
  width: 220px;
  border: 1px solid;
  border-color: var(--special-greylight);
}

.products-item-img {
  width: 190px;
  height: 164px;
  margin-bottom: 14px;
  object-fit: contain;
  background-color: var(--basic-white);

}

.products-item:hover {
  box-shadow: 0px 4px 20px 0px #00000026;
}

.products-item:hover .products-item-img {
  display: none;
}

.products-item:hover .products-hover-wrapper {
  display: block;
  margin-bottom: 14px;
}

.products-hover-wrapper {
  width: 190px;
  height: 164px;
  text-align: center;
  padding-top: 38px;
  display: none;
}

.products-btn {
  width: 135px;
  min-height: 38px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 0 auto;
  border: none;
  line-height: 18px;
  padding: 10px 12px 10px 25px;
}

.products-btn-buy {
  position: relative;
  background: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  color: var(--basic-white);
  margin-bottom: 10px;
 }

 .products-btn-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("../img/icons/icon-cart-btn.svg");
  top: 11px;
  left: 25px;
 }

 .products-btn-buy:hover {
  background: var(--success);
  color: var(--basic-white);
 }

 .products-btn-buy:active {
  background: var(--basic-green-active);
  color: var(--basic-white);
 }

 .products-btn-bookmarks {
  background: var(--basic-white);
  color: var(--basic-grey);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  padding: 8px 30px 6px 30px;
 }

 .products-btn-bookmarks:hover {
  border: 3px solid var(--basic-grey);
  color: var(--basic-grey);
 }

 .products-btn-bookmarks:active {
 opacity: 0.5;
 }


.pop-products-name {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 0 5px 0;
}

.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--special-grey);
}

.price-btn-link {
  background: url('../img/icons/red-button.svg') center center no-repeat;
  width: 141px;
  min-height: 38px;
  text-align: center;
  color: var(--basic-white);
  border: none;
  padding: 6px 20px 0 0;
  margin-bottom: 20px;
}


.price-btn-link:hover {
  color: var(--basic-white);
}

/* Pop-manufacturers */

.pop-manufacturers {
  margin-bottom: 66px;
}

.pop-manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pop-manufacturers-item {
  height: 145px;
  width: 220px;
  border: 1px solid;
  border-color: var(--special-greylight);
  object-fit: contain;
}

.pop-manufacturers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pop-manufacturers-link:hover {
  box-shadow: 0px 4px 20px 0px #00000026;
}

.pop-manufacturers-link:active{
  opacity: 0.3;
}
/* Services */
.services {
  background-color: var(--basic-background);
  margin-bottom: 65px;
  padding-top: 64px;
  position: relative;
  min-height: 522px;
}
.services-descr{
  position: relative;
  display: flex;
  padding-bottom: 47px;
  z-index: 1;
}

.title-grey-services {
  margin-bottom: 34px;
}

.services-link {
  display: block;
  padding: 14px 139px 17px 22px;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  background-color: var(--basic-grey);
}

.services-link:hover {
  color: var(--basic-white);
  background-color: var(--basic-grey-hover);
}

.services-link-active,
.services-link-active:hover {
  background-color: var(--basic-white);
  color: var(--basic-grey);
}

.services-list {
  position: relative;
  list-style: none;
  color: var(--basic-white);
  margin: 0;
  margin-right: 80px;
  padding: 53px 0;
  width: 240px;
}
.services-list::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../img/Line-vertical.png) no-repeat;
}

.services-slide {
  display: none;
  padding-top: 47px;
  width: 100%;
  min-height: 285px;
}

.services-slide .descr-content {
  width: 331px;
}

.services-slide-delivery {
  background: url("../img/delivery.png") 100% 67px no-repeat;
}

.services-slide-guarantee {
  background: url("../img/guarantee.png") 100% 47px no-repeat;
}

.services-slide-credit {
  background: url("../img/credit.png") 100% 47px no-repeat;
}

.services-slide-active {
  display: block;
}

.delivery-slide-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.guarantee-slide-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.credit-slide-img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
/* Company */

.company {
  position: relative;
  padding-bottom: 66px;
}

.company-list {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  margin: 0 0 10px 37px;
}
.company-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}
.company-item {
  position: relative;
  margin-bottom: 10px;
}

.company-item::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.company-wrapper {
  display: flex;
  justify-content: space-between;
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
}
.btn-contacts {
  margin-top: auto;
  width: 100%;
}
.btn-detailed {
  width: 220px;
}
.descr-content-contacts {
  margin-bottom: 32px;
}

/* Footer */

.about {
  background-color: var(--basic-grey);
}

.about-wrapper {
  display: grid;
  grid-template-columns: 335px 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 15px;
}

.page-footer-logo {
  height: 68px;
  width: 220px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--box-shadow) ;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 21px;
}

.about-list {
  margin: 0;
  padding-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-item {
  padding: 0 29px;
}

.offer-item:last-child,
.about-item:last-child {
  padding-right: 0;
}

.about-list-offer a:hover,
.about-item a:hover {
  text-decoration: underline;
}
.about-list-offer a:active,
.about-item a:active {
  text-decoration: none;
  opacity: 0.3;
}
.page-footer-address,
.footer-phone {
  font-size: 18px;
  color: var(--special-white);
}

.about-list-offer {
  margin: 0;
  padding: 8px 0 0 54px;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}


.page-footer-link {
  display: block;
  color: var(--special-gold);
  line-height: 10px;
}

.page-footer-link:hover {
  color: var(--special-gold);
  text-decoration: underline;
}

.page-footer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.offer-item {
  padding: 0 29px;
}

.offer-item a {
  color: var(--special-gold);
}


.social {
  background-color: var(--basic-grey-hover);
  padding-bottom: 27px;
}

.social-wrapper {
  display: grid;
  grid-template-columns: 240px 1fr 150px 150px;
  padding-top: 34px;
}
.footer-feedback address {
  margin: 0;
}

.footer-feedback {
  grid-column: 3 / 4;
}

.footer-feedback,
.footer-developers {
 grid-row-start: 1;
 margin-bottom: 10px;
}

.footer-developers{
  grid-row-start: 1;
  grid-column: 4 / 5;
  padding-left: 38px;
 }

.feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.social-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 150px;
}

.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--social-background);
  border-radius: 50%;
  margin-right: 2px;
}

.social-link::after {
  content: "";
  display: block;
}

.social-link-vk::after {
  height: 15px;
  width: 26px;
  background: url("../img/logo/logo-VK.svg") 50% 50% no-repeat;
}

.social-link-facebook::after {
  height: 22px;
  width: 12px;
  background: url("../img/logo/logo-facebook.svg") 50% 50% no-repeat;
}

.social-link-instagram::after {
  height: 21px;
  width: 21px;
  background: url("../img/logo/logo-instagram.svg") 50% 50% no-repeat;
}

.social-link:hover,
.social-link:active {
  background-color: var(--basic-red);
}

.footer-content {
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-white);
  margin: 0;
}

/* Modal-feedback */

.feedback-fields {
  font-size: 18px;
  line-height: 24px;
}

.feedback-form ::placeholder,
.feedback-form-textarea {
  color: var(--special-grey);
}

/* Catalog */

.page-body-catalog .page-header {
  margin-bottom: 21px;
}

.login-order-list {
  list-style: none;
}

.login-order-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

/* page-main-catalog */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.breadcrumbs-link,
.breadcrumbs-link:hover {
  color: var(--basic-black);
}


.breadcrumbs-link-home {
  padding-bottom: 5px;
}

.breadcrumbs-item {
  position: relative;
}
.breadcrumbs-item:not(:last-child) {
  margin-right: 40px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 2px;
  right: -23px;
  background: url("../img/icons/breadcrumbs-arrow.svg");
}

.catalog-content {
  display: flex;
}

.catalog-header{
  background-color: var(--special-brownlight);
}

.filters {
  width: 220px;
}


.filter-header {
  min-height: 89px;
  background-color: var(--basic-background);
  padding: 29px 0 24px 29px;
  margin-bottom: 18px;
}

.filter-descr {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

.filter-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.filter-title-power {
  margin-bottom: 22px;
}

.filters-header {
  min-height: 38px;
  background-color: var(--special-brownlight);
  margin-bottom: 14px;
  border-radius: 3px;
  padding: 11px 0 10px 18px;
}

.filters-manufacturers-list,
.filters-power-list {
list-style: none;
margin: 0;
padding: 0;
padding-left: 35px;
}

.filter-sort-list,
.catalog-list {
list-style: none;
}

.filter-option {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.filter-option label {
  position: relative;
  /* display: block; */
  cursor: pointer;
}

.filter-btn {
  min-height: 38px;
  width: 220px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid;
  border-color: var(--special-greylight-100);
  text-transform: uppercase;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.filter-range {
  margin-top: 11px;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: var(--special-brownlight);
  margin-bottom: 9px;
  padding: 39px 20px 0 20px;
  border-radius: 3px;
}

.range-controls-bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls-scale {
  height: 2px;
  background-color: var(--basic-greylight);
}

.range-controls-toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: #ABABAB;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
  margin-bottom: 16px;
}

.price-controls span {
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 32px;
}

.price-controls-input {
  height: 38px;
  width: 95px;
  background-color: var(--special-brownlight);
  border: none;
  border-radius: 3px;
  text-align: center;
}

.range-controls-toggle-min {
  left: 3px;
}
.range-controls-toggle-max {
  left: 170px;
}
.filter-manufacturers {
 border-bottom: 1px solid rgba(0, 0, 0, 0.1);
 padding-bottom: 12px;
 margin-bottom: 18px;
}

.filter-checkbox:hover .filter-input-checkbox + label::before {
  border: 2px solid var(--basic-greylight-hover);
}

.filter-power {
  margin-bottom: 20px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  height: 23px;
  width: 23px;
  border-radius: 3px;
  border: 2px solid var(--basic-greylight);
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icons/icon-checkbox.svg");
  border: none;
}
.filter-input-checkbox:checked:hover + label::before {
  background-image: url("../img/icons/icon-checkbox-active.svg");
  border: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -31px;
  height: 17px;
  width: 22px;
  background-image: url("../img/icons/icon-checked.svg");
}


.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 4px solid var(--basic-greylight);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -28px;
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: var(--basic-greylight);
}

.filter-radio:hover .filter-input-radio + label::before {
  border: 4px solid var(--basic-greylight-hover);

}

.filter-input-radio:disabled + label::before {
  border: 4px solid var(--special-greylight-100);
}

.filter-input-radio:disabled:hover + label::before{
  border: 4px solid var(--special-greylight-100);
}

.filter-input-radio:disabled + label{
  color: var(--black-transparent);
}


.sort-link{
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--black-transparent);
  text-transform: uppercase;
  text-decoration: underline dotted red;
  text-underline-offset: 3px;
  padding: 10px 0;
}

.sort-link:hover {
  color: var(--basic-black);
}

.sort-link-active:hover,
.sort-link-active {
  color: var(--basic-red);
  text-decoration: none;
  cursor: default;
}

.sort-link-direction-svg {
  fill: var(--basic-greylight);
}

.sort-link-direction-active .sort-link-direction-svg {
  fill: var(--basic-red);
}


.sort-link-direction:hover .sort-link-direction-svg {
  fill: var(--basic-black);
}

.sort-link-direction-active:hover,
.sort-link-direction-active:hover .sort-link-direction-svg {
  fill: var(--basic-red);
  cursor: default;
}


/* Catalog */
.new {
  position: absolute;
  top: 0;
  right: 0;
}

.catalog {
  position: relative;
  width: 720px;
  padding-left: 20px;
}

.header-login-catalog {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  background-color: var(--basic-white);
  min-height: 45px;
  min-width: 300px;
  text-align: center;
  font-size: 21px;
  line-height: 44px;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 3px;
}

.header-login-svg {
  opacity: 0.3;
}

.header-login-icon:hover .header-login-svg {
  opacity: 1;
}

.header-login-icon:active .header-login-svg {
  opacity: 0.3;
}

.header-login-catalog-link,
.header-login-catalog-link:hover {
  color: var(--basic-black);
}

.page-body-catalog .login {
  display: block;
}

.page-body-catalog .header-contacts {
  margin-right: 50px;
}

.login-order-list {
  display: flex;
  padding: 0;
  margin: 0;
  padding-left: 45px;
}

.login-order-item {
 position: relative;
 margin-right: 30px;
}
.login-order-item:not(:first-child):before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--basic-grey);
  top: 9px;
  left: -17px;
}

.login-order-link {
  color: var(--basic-grey);
}

.login-order-link:hover {
  color: var(--basic-red);
}

.login-order-link:active,
.header-login-catalog-link:active{
  color: var(--basic-greylight);
}

.user-icon {
  line-height: 40px;
}

.catalog-item {
  border: 1px solid;
  border-color: var(--special-greylight);
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--special-brownlight);
  padding: 0 20px;
  min-height: 38px;
  margin-bottom: 25px;
  width: 100%;
  border-radius: 3px;
}
.filter-sort-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 500px;
  margin-right: 5px;
}


.filter-sort-item {
  width: 120px;
}


.filter-sort-direction {
display: flex;
margin-left: 35px;
}

.sort-link-direction-up {
  margin-right: 21px;
}

.page-body-catalog .products-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 43px;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 59px;
}

.pagination-link {
  display: block;
  min-width: 38px;
  min-height: 38px;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.pagination-link:hover {
  color: var(--basic-black);
}

.pagination-item {
  margin-right: 8px;
  border: 1px solid;
  border-color: var(--special-greylight-100);
  text-align: center;
}

.pagination-item-active {
  background-color: var(--basic-red);
}
.pagination-item-active a:hover{
  color: var(--basic-white);
}

.pagination-item-active a {
  color: var(--basic-white);
}

.pagination-item:hover {
  border-color: var(--basic-greylight);
  color: var(--basic-black);
}

.pagination-item:active {
  border-color: var(--basic-red);
}

.pagination-link-next {
  margin: 0;
  width: 140px;
  text-align: center;
}

.about-punchers {
  background-color: var(--basic-background);
  min-height: 260px;
  padding: 64px 0 68px 0;
}
/* Modal-contact-us */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  background-color: var(--basic-white);
  z-index: 10;
  display: none;
}

.modal-contact-us {
  width: 620px;
  height: 430px;
  padding: 39px 80px 35px 80px;
}

.modal-contact-us-form {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0 auto;
}

.modal-contact-us-form span{
  display: block;
  margin-bottom: 11px;
}

.modal-input {
  display: block;
  width: 220px;
  height: 38px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  font-size: 18px;
  line-height: 24px;
  padding: 0 8px 4px 12px;
  margin-bottom: 15px;
}

.modal-input::placeholder {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}

.user-name-input {
  margin-right: 20px;
}

.modal-contact-us-textarea {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: var(--special-grey);
  width: 460px;
  min-height: 114px;
  resize: none;
  padding-top: 7px;
  margin-bottom: 74px;
}

.btn-modal-contact-us {
  border: none;
  min-height: 38px;
  width: 460px;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 11px;
  display: block;
  height: 21px;
  width: 21px;
  border: none;
  background-color: transparent;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 7px;
  width: 3px;
  height: 25px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-close::after {
  transform: rotate(45deg);
}

.modal-bottom-block {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--modal-bottom-background);
  min-height: 112px;
  width: 100%;
  z-index: -1;
}

.modal-map {
  height: 449px;
  width: 940px;
}

.modal-active {
  display: block;
}

/* Modal-add-to-cart */

.modal-add-to-cart {
  background: var(--basic-white);
  height: 283px;
  width: 620px;
  padding-top: 70px ;
}

.modal-add-to-cart .modal-bottom-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-to-cart-order {
  min-height: 38px;
  width: 192px;
  color: var(--basic-white);
  text-transform: uppercase;
}

.modal-add-to-cart-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.modal-add-to-cart-title::before {
  content: "";
  top: -18px;
  left: 81px;
  position: absolute;
  height: 66px;
  width: 66px;
  background: url(../img/icons/icon-mark-ok.png);
}

.btn-add-to-cart {
  border: none;
}

.btn-add-to-cart-order {
  margin-right: 10px;
}

.btn-add-to-cart-continue,
.btn-add-to-cart-continue:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.btn-add-to-cart-continue:hover {
  outline: 1px solid var(--basic-grey-hover)
}

.btn-add-to-cart-continue:active {
  opacity: 0.7;
}
